@charset "UTF-8";

body {
    background-color: black;
    width:100%;
    margin: 0;
    padding: 0;
    color:rgb(217, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
}

#decks {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.question {
    padding: 2em;
}

.answers {
    padding: 0;
    margin: 0;
}

fieldset {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    color: rgb(173, 239, 255);
    background-color: rgb(0, 72, 139);
  }

.radio {
    display:none;

}

.radio-label {
    display:block;
    padding:1em;
    /*float:left;*/
    /*clear:left;*/
}

input[type="radio"]:checked+label{ 
    color:white;
    display:block;
    background-color: rgb(0, 53, 102);
} 

input[type="radio"]:hover+label{ 
    display:block;
    background-color: rgb(0, 53, 102);
} 

input[type="radio"]:active+label{ 
    color:rgb(84, 160, 179);
    display:block;
    background-color: rgb(0, 43, 83);
} 

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }